@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.temperature {
    margin-left: 40%;
    margin-top: 40px;
}

.back {
    margin-top: 10px;
}

.weather {
    font: 400 24px 'Roboto';
    color: #000;
    width: 100%;
    height: 400px;
}

.feels-like {
    margin-left: 25%;
    font: 400 25px 'Roboto';
}